<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            body {
                background-color: rgb(229, 226, 226);
            }
        </style>
    </head>
    <body class="text-center">
        <h1 class="card-header">TICKETS HERE</h1>
        <h2 class="card-body">
            {% if user.is_authenticated %}
                Logged in as 
            
                {% if request.user.is_staff %}
                    ADMIN: 
                {% endif %}
                {{ request.user }}
                <p>
                    <a href="logout/" ><button class="btn btn-danger btn-sm">Logout Here</button></a>
                </p>
            {% else %}
                Hello [Anon User]
                <a href="login/" ><button class="btn btn-success">Login Here</button></a>
            {% endif %}
        </h2>
        {% if user.is_authenticated %}
            <p>
                <a href="/create_ticket/"><button type="button" class="btn btn-warning">Create Ticket</button></a>
            </p>
            
            <h4>All Tickets Sorted by Status</h4>
            <a href="/user_tickets/">
                <button class="btn btn-dark">
                    Click here for User filtered Tickets
                </button>
            </a>
            {% for each in items %}
            <p>
                <div>Title: {{each.title}}</div>
                <div>Time / Date filed: {{each.date_filed}}</div>
                <a href="/ticket/{{each.id}}"><button class="btn btn-info">More details</button></a>
            </p>
            {% endfor %}
        {% endif %}
    </body>
</html>